#root {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks child elements vertically */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  width: 100%; /* Full width */
  min-height: calc(100vh - 4rem); /* Adjusting for padding */
  margin: 0 auto; /* No margin */
  padding: 2rem;
  text-align: center;
  background-color:  #ffd3ea;
  color: black;
  font-family: 'madimi one';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background{
  color:aqua,
}